[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyflakes = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
ipython = "*"

[packages]
numpy = "*"
matplotlib = "*"
pathlib = "*"

[requires]
python_version = "3.7"
